{
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "react/prefer-stateless-function": "off"
  }
}